erebus-26.0.1/game/controllers/robot0Controller/Mapa después del clean_map average.txt
erebus-26.0.1/game/controllers/robot0Controller/Mapa final.txt
erebus-26.0.1/game/controllers/robot0Controller/Mapa que recortamos y limpiamos average.txt
erebus-26.0.1/game/controllers/robot0Controller/replay.bin
erebus-26.0.1/game/controllers/robot0Controller/willow.log
erebus-26.0.1/game/plugins/robot_windows/MainSupervisorWindow/thumbnails/test.png
erebus-26.0.1/game/worlds/test.wbt
erebus-26.0.1/game/mapas.html
erebus-26.0.1/game/worlds/
erebus-26.0.1/game/controllers/robot0Controller/
erebus-26.0.1/game/plugins/robot_windows/MainSupervisorWindow/thumbnails/
erebus-26.0.1/game/